/* padding is top, right, bottom, left */
/* Colors:
#FF5335 - orangey
#b39c85 - tanish
#306e73 - dark teal
#3b424d - bley
#1d181f - glack
*/

html {
	font-family: "Helvetica", Trebuchet MS, sans-serif;
	font-size: 1.1em;
	color: tomato; /* this is so we can tell what I forgot to color! */
	background: #1D181F;
}

h1 {
	font-weight: bold;
	color: #B39C85;
	margin-bottom: -0.1em;
	line-height: 0.9;
}

h2, h3, h4, h5, h6 {
	color: #B39C85;
}

p {
	color: #B39C85;
}

a {
	font-weight: bold;
	color: #FF5335;
}

.header {
	text-align: right;
	padding: .5em 1em .5em 1em;
}

.leftcol {
	padding: .5em 1em .5em 1em;
}

.rightcol {
	padding: .5em 1em .5em 1em;
}

.navbar {
	overflow: hidden;
	background: #3b424D;
}

.navbarpadding {
	background: #3b424D;
	padding: .5em 1em .5em 1em;
}

.navbar a {
	float: right;
	display: block;
	padding: .5em 1em .5em 1em;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.footer {
	color: #B39C85;
	background: #3b424D;
	padding: .5em 1em .5em 1em;
}