/* padding is top, right, bottom, left */

html {
	font-family: "Helvetica", Trebuchet MS, sans-serif;
	font-size: 1.1em;
	color: tomato;
	background: DarkSlateGray;
}

h1, h2, h3, h4, h5, h6 {
	color: Linen;
}

p {
	color: #ffffff; 
}

a {
	font-weight: bold;
	color: Fuschia;
}

.header {
	background: DarkOrchid;
	text-align: left;
	padding: 0.5em 0em 0.5em 2em;
}


.navbar {
	overflow: hidden;
	background: FireBrick;
	text-align: left;
	padding: 0em 0em 0em 2em;
}

.navbar a {
	float: left;
	display: block;
	text-align: center;
	padding: 1em 1em 1em 1em;
	text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.leftcol {
	float: left;
	width: 60%;
	padding: 0em 0em 0em 2em; 
}

.rightcol {
	float: left;
	width: 30%;
	padding: 0em 0em 0em 1.5em; 
}

.footerbreak:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
	text-align: left;
	color: Linen;
	background: #343434;
	padding: 2em 1.5em 2em 2em;
}