 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <p>I'm a multi-talented gaming industry professional, highly skilled in design, scripting, and quality assurance.
					I'm a fast and voracious learner who's always on the lookout for a new challenge, whether it's improving workflows, designing gameplay systems and worlds, or just getting people the information they need to make great games.</p>
                </div>
            </div>
        </div>
    </section>
